/*loading screen*/
.loading-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 400px;
}

/*pages*/
.homepage {
  border: 10px solid bisque;
  margin: 15%;
  padding: 50px;
  justify-items: center;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 20px;
  font-size: 1.5em;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  text-decoration: underline;
}

.intro, h2 {
  text-align: center;
  margin: 0;
}

/*contact page*/
.header-nav li {
  display: inline;
}

.header-nav {
  background-color: bisque;
  padding: 10px;
}

.contact, .user-info {
  margin: 0 100px;
}

.connect-bio {
  padding: 20px;
  width: 65%;
  margin: auto;
  text-align: center;
}

.info-container, .info-display  {
  background-color: bisque;
  border-radius: 10px;
  gap: 60px;
  padding: 10px 50px;
  justify-content: center;
  max-width: 900px;
  margin: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: white;
  gap: 10px;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
}

.contact-form input {
  padding: 5px;
}

.contact-form textarea {
  height: 100px;
  padding: 5px;
}

.contact-form button {
  padding: 10px;
  width: 100px;
  text-align: center;
}

/*user info*/
.search-display {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 20px 20px 0 20px;
}

.search-field input, button {
  margin: 5px;
}

.user-card {
  margin: 20px;
  background-color: white;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
}
